<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
       autoReload="true"
       throwExceptions="false"
       internalLogFile="c:\Temp\internal_log_file.txt"
       internalLogLevel="Off"
       internalLogToConsole="true">


  <variable name="brief" value="${longdate} | ${level} | ${message}"/>
  <variable name="logDirectory" value="\Logs\${date:format=MM_dd_yyyy}"/>


  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="logFile" xsi:type="File" layout="${brief}" fileName="${logDirectory}/${shortdate}.txt"/>
    <target xsi:type="Debugger" name="debugger" layout="${brief}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logFile" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="logFile" />
    <logger name="*" minlevel="Warn" writeTo="logFile" />
  </rules>
</nlog>